body {
  background-color: #78CAD2;
}
p {
  color: #171738;
}
h1 {
  color: #171738;
}
body {
  font-family: Garamond;
}

.banner {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.LilGuy{
  height: 100px
}

